@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import "reset.css";

@import "home.css";
@import "recipe-screen.css";

@import "components/status-bar.css";
@import "components/icon-row.css";
@import "screen/find.css";

body {
    height: 300vh;
    color:#2e363e;
    font-family: 'Open Sans', sans-serif;
}
